body {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(13, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  color: white;
}

#header {
  grid-area: 1 / 1 / 3 / 15;
}

#logo-container {
  grid-area: 1 / 15 / 3 / 19;
  display: flex;
  justify-content: center;
}

#current-patient-container {
  grid-area: 3 / 1 / 12 / 6;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#video-container {
  grid-area: 3 / 6 / 12 / 19;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  grid-area: 12 / 1 / 14 / 5;
}

#last-called-container {
  grid-area: 12 / 5 / 14 / 19;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#hospital-name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 54pt;
}

#hospital-logo {
  height: 100%;
}

#video {
  height: 100%;
  aspect-ratio: 16 / 9;
}

.chamada {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 48pt;
  height: 20%;
  margin-top: 10px;
}

.value {
  font-size: 118pt;
  height: 80%;
  margin-top: 10px;
}

.last-called {
  font-size: 38pt;
  margin-left: 15px;
}

.last-called p {
  margin-top: 10px;
  margin-left: 5px;
}

.name {
  height: 100%;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.last-called-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}