<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atualizar Vídeo</title>
    <link rel="stylesheet" href="../static/reset.css" />
    <link rel="stylesheet" href="../static/baseContent.css" />
    <link rel="stylesheet" href="../static/updateVideo.css" />
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon" />
  </head>
  <body>
    <div id="header">
      <div id="back-div">
        <img src="../assets/back-image.png" alt="back-image" id="back-image" />
      </div>
    </div>
    <div id="content">
      <div id="input-container">
        <input
          class="input-type"
          type="text"
          name="video-url"
          id="video-url"
          placeholder="Insira um link do youtube"
        />
        <button class="input-type" id="load-video">Atualizar Vídeo</button>
      </div>
    </div>
    <script src="../scripts/baseScript.js"></script>
    <script src="../scripts/updateVideo.js"></script>
  </body>
</html>
